@media (min-width: 992px) and (max-width: 1125px) {
    .coming-soon .contant-prag {
        margin: 60px 195px;    
    }
}

@media(max-width: 991px) {
    .coming-soon .contant-prag {
        margin: 60px 90px;
        margin-bottom: 46px;
        margin-top: 45px;
    }
	.coming-soon p { padding: 0; }
	.timer .days-wrapper, 
    .timer .hours-wrapper, 
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper {
        width: 145px;
    }

}

@media (max-width: 767px) {
    .coming-soon .contant-prag{
        margin: 60px;
        margin-top: 15px;
        margin-bottom: 0px;
        
    }
    .timer {
        margin-top: 25px;
    }
    .coming-soon h2{
        margin-top: 0;
    }	
	.timer .days-wrapper, 
    .timer .hours-wrapper, 
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper { 
        width: 58px;
    }
    .timer .days, .timer .hours, .timer .minutes, .timer .seconds {
        font-size: 42px;
        font-weight: 100;
        line-height: 90px;
    }
	.timer .slash { display: none; }
    
    .coming-soon .contant-btn {    
        margin-top: 35px;
    }
}

@media (max-width: 480px) {    
    .timer .days, .timer .hours, .timer .minutes, .timer .seconds {
        font-size: 42px;
        font-weight: 100;
        line-height: 90px;        
    }
    .coming-soon .contant-prag {
        margin: 0px 10px;
        margin-top: 25px;
        margin-bottom: 5px;        
    }

}

@media (max-width: 400px) {
	
	h1, h2 { font-size: 32px; }
    .coming-soon {
        padding: 15px;
    }
    .coming-soon h2 {
        margin-top: 10px;
        font-size: 18px;
    }
    .coming-soon h2:after{
        transform: translate(-165px,0px);
    }

}

@media (max-width: 360px){	
    .timer .days-wrapper, 
    .timer .hours-wrapper,
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper {
        display: inline-block;
        width: 160px;
        margin: 0 10px;
        font-size: 12px;
    }
    .timer .days-wrapper, 
    .timer .hours-wrapper, 
    .timer .minutes-wrapper, 
    .timer .seconds-wrapper {
        width: 43px;
    }
}

