
body {
    background: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;    
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #42bfc2;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h2 {
	margin-top: 10px;
	font-size: 42px;
    font-weight: 100;
    line-height: 54px;
}

img { max-width: 100%; }

::-moz-selection { background: #42bfc2; color: #fff; text-shadow: none; }
::selection { background: #42bfc2; color: #fff; text-shadow: none; }

/*** nav bar ***/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand i{
    color: #cacaca;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:hover i,
.navbar-default .navbar-brand i:hover,
.navbar-default .navbar-brand i:hover .navbar-brand{
    color: #fff;
}
/*** nav bar ***/
/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1508944509701-d6dc5aae4d82?ixlib=rb-0.3.5&s=d87bba48f985caae79778b2ae87c31c3&auto=format&fit=crop&w=750&q=80);
    background-image: url(https://images.unsplash.com/photo-1502883687597-739575b8911d?ixlib=rb-0.3.5&s=8b5187a15553575c529547db478f8f94&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.safehosting-bg {
    background: #33333352;
    height: 100%;
    border-radius: 4px;
    display: table;
    width: 100%;
}
.safehosting-bg .container{
    padding: 0;
    width: 100%;
    display: table-cell;
    height: 100%;
    margin: 0;
    vertical-align: middle;
}
.coming-soon h2{
    margin-top: 10px;
    font-size: 37px;
    font-weight: 500;
    line-height: 54px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 50px;
    margin-top: 0;
}
.coming-soon .contant-btn{
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    transform: translate(0,180px);
}
.email-input,
.email-input:focus,
.email-input:hover{
    height: 45px;
    border-color: none;
    border: none;
    border-radius: 30px;
    width: 430px;
    background: #1b1b1b;
    padding: 0px 25px;
    outline: none;
}
.email-input::placeholder {
   color:#747474;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}
h4{
    margin-top: 0;
    padding-bottom: 25px;
    margin-bottom: 0;
    letter-spacing: 1.6px;
    text-transform: unset;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #667db6;
}
.coming-soon .aboutUsbtn{
    color: #d8d8d8;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    padding: 14px 35px;
    background: #3f3251;
    border-radius: 30px;
    height: 45px;
    margin-left: -143px;
    letter-spacing: 1px;
    text-transform: uppercase;
}